.closeSideNav{
    float: right;
    width: 25px;
}

.collapsedSideNav{
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

.firstName{
    position: relative;
    left: 20px;
    width: fit-content;
}

.lastName{
    position: relative;
    left: 70px;
    width: fit-content;
}

.openSideNav{
    width: 100px;
    height: 250px;
}

.sideNav{
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 50px;
    padding-left: 30px;
    border-right: 10px solid;
}

.sideNavHidden{
    display: none;
    transition: .5s;
    border-right: 10px solid;
}

.sideNavIcon{
    width: 30px;
    margin-right: 10px;
    color: #CB669E;
}

.sideNavRow a, .sideNavRow p{
    font-size: 2rem;
}

.sideNavBound{
    border-right: 2px solid;
}
