.container{
    height: 100px;
    position: relative;
}
.dataBox{
    border: 5px solid darkgrey;
    position: relative
}

.dataName{
    padding: 30px;
    text-align: center;
    border: 58px solid darkgrey;
}

.dataPoint{
    position:relative;
    width: 5px;
}