.container{
    height: 100px;
    position: relative;
    margin: 5px;
}
.dataBox{
    border: 5px solid darkgrey;
    position: relative
}

.dataName{
    padding: 30px;
    text-align: center;
    border: 5px solid darkgrey;
}

.dataPoint{
    position:relative;
    width: 5px;
    cursor: pointer;
}